services:
  coredns:
    image: coredns/coredns:latest
    container_name: coredns
    hostname: coredns
    volumes:
      - ./Corefile:/etc/coredns/Corefile
    ports:
      - "53:53/udp"
      - "53:53/tcp"
