services:
  mastodon_db:
    image: postgres:18-alpine
    restart: always
    volumes:
      - Mastodon_db:/var/lib/postgresql/data
    environment:
      - POSTGRES_USER=mastodon
      - POSTGRES_PASSWORD=${MASTODON_DB_PASSWORD}
      - POSTGRES_DB=mastodon
    healthcheck:
      test: ['CMD', 'pg_isready', '-U', 'postgres']

  mastodon_redis:
    image: redis:8.2.2-alpine
    restart: always
    volumes:
      - Mastodon_redis:/data
    healthcheck:
      test: [ 'CMD', 'redis-cli', 'ping' ]

  mastodon_web:
    image: ghcr.io/mastodon/mastodon
    restart: always
    hostname: mastodon
    command: bundle exec rails s -p 3000 -b '0.0.0.0'
    environment:
      - LOCAL_DOMAIN=${MASTODON_HOSTNAME}
      - WEB_DOMAIN=${MASTODON_HOSTNAME}
      - DEFAULT_LOCALE=pt-br
      - REDIS_HOST=mastodon_redis
      - REDIS_PORT=6379
      - DB_HOST=mastodon_db
      - DB_USER=mastodon
      - DB_PASSWORD=${MASTODON_DB_PASSWORD}
      - DB_PORT=5432
      - SECRET_KEY_BASE=${MASTODON_SECRET_KEY_BASE}
      - VAPID_PRIVATE_KEY=${MASTODON_VAPID_PRIVATE_KEY}
      - VAPID_PUBLIC_KEY=${MASTODON_VAPID_PUBLIC_KEY}
      - ACTIVE_RECORD_ENCRYPTION_DETERMINISTIC_KEY=${MASTODON_ACTIVE_RECORD_ENCRYPTION_DETERMINISTIC_KEY}
      - ACTIVE_RECORD_ENCRYPTION_KEY_DERIVATION_SALT=${MASTODON_ACTIVE_RECORD_ENCRYPTION_KEY_DERIVATION_SALT}
      - ACTIVE_RECORD_ENCRYPTION_PRIMARY_KEY=${MASTODON_ACTIVE_RECORD_ENCRYPTION_PRIMARY_KEY}
    depends_on:
      - mastodon_db
      - mastodon_redis
    healthcheck:
      # prettier-ignore
      test: [ 'CMD-SHELL',"curl -s --noproxy localhost localhost:3000/health | grep -q 'OK' || exit 1" ]

  mastodon_streaming:
    image: ghcr.io/mastodon/mastodon-streaming
    restart: always
    command: node ./streaming/index.js
    environment:
      - LOCAL_DOMAIN=${MASTODON_HOSTNAME}
      - WEB_DOMAIN=${MASTODON_HOSTNAME}
      - DEFAULT_LOCALE=pt-br
      - REDIS_HOST=mastodon_redis
      - REDIS_PORT=6379
      - DB_HOST=mastodon_db
      - DB_USER=mastodon
      - DB_PASSWORD=${MASTODON_DB_PASSWORD}
      - DB_PORT=5432
      - SECRET_KEY_BASE=${MASTODON_SECRET_KEY_BASE}
      - VAPID_PRIVATE_KEY=${MASTODON_VAPID_PRIVATE_KEY}
      - VAPID_PUBLIC_KEY=${MASTODON_VAPID_PUBLIC_KEY}
      - ACTIVE_RECORD_ENCRYPTION_DETERMINISTIC_KEY=${MASTODON_ACTIVE_RECORD_ENCRYPTION_DETERMINISTIC_KEY}
      - ACTIVE_RECORD_ENCRYPTION_KEY_DERIVATION_SALT=${MASTODON_ACTIVE_RECORD_ENCRYPTION_KEY_DERIVATION_SALT}
      - ACTIVE_RECORD_ENCRYPTION_PRIMARY_KEY=${MASTODON_ACTIVE_RECORD_ENCRYPTION_PRIMARY_KEY}
    depends_on:
      - mastodon_db
      - mastodon_redis
    healthcheck:
      # prettier-ignore
      test: [ 'CMD-SHELL', "curl -s --noproxy localhost localhost:4000/api/v1/streaming/health | grep -q 'OK' || exit 1" ]

  mastodon_sidekiq:
    image: ghcr.io/mastodon/mastodon
    restart: always
    environment:
      - LOCAL_DOMAIN=${MASTODON_HOSTNAME}
      - WEB_DOMAIN=${MASTODON_HOSTNAME}
      - DEFAULT_LOCALE=pt-br
      - REDIS_HOST=mastodon_redis
      - REDIS_PORT=6379
      - DB_HOST=mastodon_db
      - DB_USER=mastodon
      - DB_PASSWORD=${MASTODON_DB_PASSWORD}
      - DB_PORT=5432
      - SECRET_KEY_BASE=${MASTODON_SECRET_KEY_BASE}
      - VAPID_PRIVATE_KEY=${MASTODON_VAPID_PRIVATE_KEY}
      - VAPID_PUBLIC_KEY=${MASTODON_VAPID_PUBLIC_KEY}
      - ACTIVE_RECORD_ENCRYPTION_DETERMINISTIC_KEY=${MASTODON_ACTIVE_RECORD_ENCRYPTION_DETERMINISTIC_KEY}
      - ACTIVE_RECORD_ENCRYPTION_KEY_DERIVATION_SALT=${MASTODON_ACTIVE_RECORD_ENCRYPTION_KEY_DERIVATION_SALT}
      - ACTIVE_RECORD_ENCRYPTION_PRIMARY_KEY=${MASTODON_ACTIVE_RECORD_ENCRYPTION_PRIMARY_KEY}
    command: bundle exec sidekiq
    depends_on:
      - mastodon_db
      - mastodon_redis
    volumes:
      - Mastodon_Sidekiq:/mastodon/public/system
    healthcheck:
      test: [ 'CMD-SHELL', "ps aux | grep '[s]idekiq\ 7' || false" ]

volumes:
  Mastodon_Sidekiq:
  Mastodon_redis:
  Mastodon_db: