services:
  mastodon_db:
    image: postgres:18-alpine
    restart: always
    volumes:
      - ~/Mastodon/db:/var/lib/postgresql/data
    environment:
      - POSTGRES_USER=mastodon
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=mastodon
    healthcheck:
      test: ['CMD', 'pg_isready', '-U', 'postgres']

  mastodon_redis:
    image: 8.2.2-alpine
    restart: always
    volumes:
      - ~/Mastodon/redis:/data
    healthcheck:
      test: [ 'CMD', 'redis-cli', 'ping' ]

  mastodon_web:
    image: ghcr.io/mastodon/mastodon:v4.4.4
    restart: always
    hostname: mastodon
    environment:
      - LOCAL_DOMAIN=${MASTODON_HOSTNAME}
      - REDIS_HOST=mastodon_redis
      - REDIS_PORT=6379
      - DB_HOST=mastodon_db
      - DB_USER=mastodon
      - DB_PASSWORD=${MASTODON_DB_PASSWORD}
      - DB_PORT=5432
      - SECRET_KEY_BASE=${MASTODON_SECRET_KEY_BASE}
      - VAPID_PRIVATE_KEY=${MASTODON_VAPID_PRIVATE_KEY}
      - VAPID_PUBLIC_KEY=${MASTODON_VAPID_PUBLIC_KEY}
    depends_on:
      - mastodon_db
      - mastodon_redis
    healthcheck:
      # prettier-ignore
      test: [ 'CMD-SHELL',"curl -s --noproxy localhost localhost:3000/health | grep -q 'OK' || exit 1" ]

  mastodon_streaming:
    image: ghcr.io/mastodon/mastodon-streaming:v4.4.4
    restart: always
    environment:
      - LOCAL_DOMAIN=${MASTODON_HOSTNAME}
      - REDIS_HOST=mastodon_redis
      - REDIS_PORT=6379
      - DB_HOST=mastodon_db
      - DB_USER=mastodon
      - DB_PASSWORD=${MASTODON_DB_PASSWORD}
      - DB_PORT=5432
      - SECRET_KEY_BASE=${MASTODON_SECRET_KEY_BASE}
      - VAPID_PRIVATE_KEY=${MASTODON_VAPID_PRIVATE_KEY}
      - VAPID_PUBLIC_KEY=${MASTODON_VAPID_PUBLIC_KEY}
    depends_on:
      - mastodon_db
      - mastodon_redis
    healthcheck:
      # prettier-ignore
      test: [ 'CMD-SHELL', "curl -s --noproxy localhost localhost:4000/api/v1/streaming/health | grep -q 'OK' || exit 1" ]

  mastodon_sidekiq:
    image: ghcr.io/mastodon/mastodon:v4.4.4
    restart: always
    environment:
      - LOCAL_DOMAIN=${MASTODON_HOSTNAME}
      - REDIS_HOST=mastodon_redis
      - REDIS_PORT=6379
      - DB_HOST=mastodon_db
      - DB_USER=mastodon
      - DB_PASSWORD=${MASTODON_DB_PASSWORD}
      - DB_PORT=5432
      - SECRET_KEY_BASE=${MASTODON_SECRET_KEY_BASE}
      - VAPID_PRIVATE_KEY=${MASTODON_VAPID_PRIVATE_KEY}
      - VAPID_PUBLIC_KEY=${MASTODON_VAPID_PUBLIC_KEY}
    command: bundle exec sidekiq
    depends_on:
      - db
      - redis
    volumes:
      - ~/Mastodon/sidekiq/public/system:/mastodon/public/system
    healthcheck:
      test: [ 'CMD-SHELL', "ps aux | grep '[s]idekiq\ 7' || false" ]
