${BASE_DOMAIN} {
    hosts {
        whoami gitlab.${BASE_DOMAIN}
        whoami nextcloud.${BASE_DOMAIN}
        whoami blog.${BASE_DOMAIN}
        whoami mastodon.${BASE_DOMAIN}
        whoami ia.${BASE_DOMAIN}
    }
}

. {
    forward . 172.254.0.253
}