services:
  coredns:
    build: .
    container_name: coredns
    hostname: coredns
    restart: always
    volumes:
      - ./Corefile:/etc/coredns/Corefile
      - ~/letsencrypt/etc/letsencrypt:/etc/letsencrypt:ro
    ports:
      - "53:53/udp"
      - "53:53/tcp"
      - "853:853/tcp"
    networks:
      dns-network:
        ipv4_address: 172.254.0.254
      default: