services:
  coredns:
    build: .
    container_name: coredns
    hostname: coredns
    restart: always
    volumes:
      - ./Corefile:/etc/coredns/Corefile
    ports:
      - "53:53/udp"
      - "53:53/tcp"
